Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:

Q1=['Hello',[1,2,3,4],3.25,(1,2,3,4)]

In [5]:
type(Q1[0])

str

In [6]:
type(Q1[1])

list

In [7]:
type(Q1[2])

float

In [8]:
type(Q1[3])

tuple

#Q2: Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [11]:
var1 = ''
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1.

In [13]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

## Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

# I
'/' is Division Operator used to perform division two variables. it returns the quotient as a floating number

In [23]:
#Example
a=10
b=3
result = 10/3
print(result)

3.3333333333333335

# II '%'
Modus operator
The operator '%' is called modulo operator and is used to find the reminder of divison between two variables

In [40]:
a2 = 10
b2 = 3
result2 = a2 % b2
print(result2)

1

# III  '//' - Floor Division Operator

The // operator performs floor division, which returns the quotient rounded down to the nearest integer.

In [41]:
a3 = 10
b3 = 3
result3 = a3 // b3
print(result3)

3

# iv - '**' (Exponentiation Operator)

The '**' operator is used for exponentation, raising a number to the power of another number.

In [42]:
a4 = 2
b4 = 3
result4 = a4 ** b4
print(result4)

8

## Q4 Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [29]:
my_lst4=['test',1,2.34,[1,2,3],(1,2,3),{1,2,3},True,{'name':'John','age':45,'sex':'Male'},'None',45]

In [30]:
len(my_lst4)

10

In [32]:
for i in my_lst4:
    print(f"Element:{i}, DataType:{type(i)}")

Element:test, DataType:<class 'str'>
Element:1, DataType:<class 'int'>
Element:2.34, DataType:<class 'float'>
Element:[1, 2, 3], DataType:<class 'list'>
Element:(1, 2, 3), DataType:<class 'tuple'>
Element:{1, 2, 3}, DataType:<class 'set'>
Element:True, DataType:<class 'bool'>
Element:{'name': 'John', 'age': 45, 'sex': 'Male'}, DataType:<class 'dict'>
Element:None, DataType:<class 'str'>
Element:45, DataType:<class 'int'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [38]:
A=100
B=5

count = 0

while A % B == 0:
    A = A // B
    count += 1
    
if count>0:
    print(f"Number A is divisible by B by {count} times.")
else:
    print("Number A is not divisible by B.")

Number A is divisible by B by 2 times.

# Q6 Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [45]:
Q6=[1,3,6,45,56,65,34,45,23,34,98,76,56,787,99,23,34,59,55,9,8,7,6,6,5]

In [46]:
len(Q6)

25

In [49]:
for i in Q6:
    if i%3 == 0:
        print(f"{i} is divisible by 3")

3 is divisible by 3
6 is divisible by 3
45 is divisible by 3
45 is divisible by 3
99 is divisible by 3
9 is divisible by 3
6 is divisible by 3
6 is divisible by 3

# Q7: What do you understand about mutable and immutable data types? Give examples for both showing this property.

## Immutable Data Types:
Immutable data types are those whose values cannot be changed once they are assigned. Any operation that appears to modify an immutable object actually creates a new object with the desired changes.
## Mutable Data Types:
Mutable data types are those whose values can be modified after they are created. This means that the state of an object can be changed without creating a new object.

In [51]:
#Immutable examples
#int (integer): 
x = 10
#float (floating-point number): 
y = 3.14
#str (string): 
name = "John"
#tuple: 
point = (3, 4)

#Mutable
#list: 
my_list = [1, 2, 3]
#dict (dictionary): 
person = {"name": "Alice", "age": 25}
#set: 
my_set = {1, 2, 3}