In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [4]:
df=pd.read_excel("flight_price.xlsx")

In [5]:
df.sample(20)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
740,Jet Airways,15/05/2019,Kolkata,Banglore,CCU → BOM → BLR,21:10,19:50 16 May,22h 40m,1 stop,In-flight meal not included,10844
8569,Jet Airways,21/03/2019,Delhi,Cochin,DEL → BOM → COK,15:00,18:50 22 Mar,27h 50m,1 stop,No info,12767
2208,Jet Airways,9/05/2019,Mumbai,Hyderabad,BOM → HYD,07:05,08:30,1h 25m,non-stop,In-flight meal not included,4995
6200,Jet Airways,21/05/2019,Banglore,Delhi,BLR → DEL,19:50,22:50,3h,non-stop,In-flight meal not included,4030
4510,IndiGo,27/06/2019,Delhi,Cochin,DEL → HYD → COK,08:35,22:30,13h 55m,1 stop,No info,6442
9827,Multiple carriers,15/05/2019,Delhi,Cochin,DEL → BOM → COK,11:30,21:00,9h 30m,1 stop,No info,13727
7175,Air India,21/05/2019,Kolkata,Banglore,CCU → DEL → AMD → BLR,10:00,05:25 22 May,19h 25m,2 stops,No info,13899
9559,Jet Airways,15/06/2019,Delhi,Cochin,DEL → BOM → COK,14:00,19:00,5h,1 stop,No info,14714
922,SpiceJet,27/03/2019,Kolkata,Banglore,CCU → BLR,22:20,00:40 28 Mar,2h 20m,non-stop,No check-in baggage included,3815
7218,SpiceJet,1/04/2019,Kolkata,Banglore,CCU → BLR,22:20,00:40 02 Apr,2h 20m,non-stop,No check-in baggage included,3841
2087,Jet Airways,15/05/2019,Kolkata,Banglore,CCU → DEL → BLR,09:35,14:25 16 May,28h 50m,1 stop,In-flight meal not included,9314
9029,Air India,03/03/2019,Banglore,New Delhi,BLR → HBX → BOM → NAG → DEL,12:00,10:35 07 Mar,22h 35m,3 stops,No info,12358
10184,IndiGo,27/03/2019,Mumbai,Hyderabad,BOM → HYD,12:00,13:25,1h 25m,non-stop,No info,2754
4293,Air India,9/06/2019,Kolkata,Banglore,CCU → BBI → BOM → BLR,12:00,18:30 10 Jun,30h 30m,2 stops,No info,10151
1992,SpiceJet,6/06/2019,Mumbai,Hyderabad,BOM → HYD,22:45,00:15 07 Jun,1h 30m,non-stop,No check-in baggage included,1965
9733,Jet Airways,1/04/2019,Kolkata,Banglore,CCU → BOM → BLR,16:30,08:15 02 Apr,15h 45m,1 stop,In-flight meal not included,7064
1143,Jet Airways,9/05/2019,Kolkata,Banglore,CCU → BOM → BLR,16:30,09:20 10 May,16h 50m,1 stop,In-flight meal not included,9663
6610,Air India,6/03/2019,Mumbai,Hyderabad,BOM → BHO → DEL → HYD,06:00,09:10 07 Mar,27h 10m,2 stops,No info,13169
3175,Multiple carriers,27/03/2019,Delhi,Cochin,DEL → BOM → COK,12:50,21:00,8h 10m,1 stop,No info,6637
5221,Jet Airways,27/06/2019,Delhi,Cochin,DEL → IDR → BOM → COK,21:25,19:00 28 Jun,21h 35m,2 stops,No info,13292

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [7]:
df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [8]:
df['Date_of_Journey'].unique()

array(['24/03/2019', '1/05/2019', '9/06/2019', '12/05/2019', '01/03/2019',
       '24/06/2019', '12/03/2019', '27/05/2019', '1/06/2019',
       '18/04/2019', '9/05/2019', '24/04/2019', '3/03/2019', '15/04/2019',
       '12/06/2019', '6/03/2019', '21/03/2019', '3/04/2019', '6/05/2019',
       '15/05/2019', '18/06/2019', '15/06/2019', '6/04/2019',
       '18/05/2019', '27/06/2019', '21/05/2019', '06/03/2019',
       '3/06/2019', '15/03/2019', '3/05/2019', '9/03/2019', '6/06/2019',
       '24/05/2019', '09/03/2019', '1/04/2019', '21/04/2019',
       '21/06/2019', '27/03/2019', '18/03/2019', '12/04/2019',
       '9/04/2019', '1/03/2019', '03/03/2019', '27/04/2019'], dtype=object)

In [9]:
#Feauture Engineering
df['Date']=df['Date_of_Journey'].str.split('/').str[0]
df['Month']=df['Date_of_Journey'].str.split('/').str[1]
df['Year']=df['Date_of_Journey'].str.split('/').str[2]

In [10]:
df['Date'].unique()

array(['24', '1', '9', '12', '01', '27', '18', '3', '15', '6', '21', '06',
       '09', '03'], dtype=object)

In [13]:
#type casting
df['Date']=df['Date'].astype(int)
df['Month']=df['Month'].astype(int)
df['Year']=df['Year'].astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  int64
 12  Month            10683 non-null  int64
 13  Year             10683 non-null  int64
dtypes: int64(4), object(10)
memory usage: 1.1+ MB

In [15]:
#Drop  Date of  journey Column
df.drop('Date_of_Journey',axis=1,inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Date             10683 non-null  int64
 11  Month            10683 non-null  int64
 12  Year             10683 non-null  int64
dtypes: int64(4), object(9)
memory usage: 1.1+ MB

In [23]:
df['Arrival_Time'].unique()

array(['01:10', '13:15', '04:25', '23:30', '21:35', '11:25', '10:25',
       '05:05', '19:15', '23:00', '22:55', '13:55', '09:20', '19:50',
       '12:35', '19:20', '13:20', '06:50', '21:50', '08:15', '03:35',
       '12:55', '23:15', '21:00', '20:20', '16:45', '19:00', '18:10',
       '15:15', '08:35', '11:05', '14:15', '10:55', '00:15', '02:45',
       '12:00', '23:55', '01:30', '09:25', '15:25', '15:35', '08:30',
       '10:05', '14:30', '07:55', '10:35', '22:35', '04:40', '07:25',
       '20:45', '14:25', '22:30', '23:20', '07:40', '22:50', '14:35',
       '08:55', '18:50', '09:05', '01:35', '09:40', '16:25', '11:10',
       '17:05', '17:50', '23:10', '08:45', '07:45', '16:10', '00:55',
       '23:35', '20:00', '00:40', '21:45', '18:15', '03:25', '04:15',
       '21:10', '21:05', '09:45', '18:05', '22:00', '15:30', '08:50',
       '08:00', '19:35', '11:20', '10:15', '12:45', '02:20', '07:15',
       '11:50', '18:30', '19:45', '21:20', '20:05', '09:10', '22:20',
       '10:10', '01:00', '23:50', '12:20', '20:25', '22:45', '21:25',
       '14:05', '00:05', '19:55', '16:20', '07:05', '19:10', '12:05',
       '04:05', '19:40', '17:55', '17:25', '00:30', '23:40', '23:05',
       '00:50', '13:45', '09:15', '20:35', '07:10', '09:35', '14:20',
       '04:45', '10:30', '19:25', '05:35', '09:00', '22:40', '14:45',
       '13:25', '21:55', '10:45', '10:40', '13:00', '22:10', '18:35',
       '05:25', '22:15', '12:10', '12:15', '14:00', '02:15', '12:50',
       '17:15', '07:35', '23:45', '22:25', '12:25', '06:35', '01:20',
       '18:45', '09:30', '04:20', '10:50', '23:25', '22:05', '13:30',
       '13:35', '17:35', '08:20', '18:25', '10:20', '15:50', '11:30',
       '14:10', '00:25', '03:15', '15:55', '00:45', '04:35', '18:00',
       '12:30', '02:10', '00:20', '21:40', '08:40', '16:55', '20:30',
       '17:20', '00:35', '20:15', '14:50', '13:40', '16:50', '15:05',
       '17:45', '18:40', '03:10', '16:40', '09:50', '13:05', '17:40',
       '20:40', '17:10', '20:50', '00:10', '08:10', '16:15', '16:05',
       '10:00', '16:35', '18:20', '04:00', '21:15', '14:40', '01:45',
       '16:30', '11:55', '15:20', '20:10', '15:00', '15:45', '12:40',
       '15:10', '13:10', '11:15', '03:40', '16:00', '11:35'], dtype=object)

In [24]:
df['Arrival_Time']=df['Arrival_Time'].apply(lambda x:x.split(' ')[0])

In [25]:
df['Arrival_hour']=df['Arrival_Time'].str.split(':').str[0]
df['Arrival_min']=df['Arrival_Time'].str.split(':').str[1]

In [26]:
df.sample(5)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
3371,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,20:00,08:15,12h 15m,1 stop,In-flight meal not included,8586,15,5,2019,08,15
6054,Air India,Delhi,Cochin,DEL → COK,18:05,21:10,3h 5m,non-stop,No info,5201,18,6,2019,21,10
9756,Air India,Banglore,New Delhi,BLR → BOM → BHO → DEL,08:50,23:25,14h 35m,2 stops,No info,13250,12,3,2019,23,25
7591,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,14:05,09:00,18h 55m,1 stop,No info,17261,6,3,2019,09,00
2100,IndiGo,Mumbai,Hyderabad,BOM → HYD,16:55,18:25,1h 30m,non-stop,No info,3175,24,3,2019,18,25

In [27]:
df.drop('Arrival_Time',inplace=True,axis=1)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int64
 10  Month            10683 non-null  int64
 11  Year             10683 non-null  int64
 12  Arrival_hour     10683 non-null  int64
 13  Arrival_min      10683 non-null  int64
dtypes: int64(6), object(8)
memory usage: 1.1+ MB

In [32]:
df['Arrival_hour']=df['Arrival_hour'].astype(int)
df['Arrival_min']=df['Arrival_min'].astype(int)

In [31]:
df['Dep_hour']=df['Dep_Time'].str.split(':').str[0]
df['Dep_min']=df['Dep_Time'].str.split(':').str[1]

In [33]:
df['Dep_hour']=df['Dep_hour'].astype(int)
df['Dep_min']=df['Dep_min'].astype(int)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10682 non-null  object
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   Date             10683 non-null  int64
 9   Month            10683 non-null  int64
 10  Year             10683 non-null  int64
 11  Arrival_hour     10683 non-null  int64
 12  Arrival_min      10683 non-null  int64
 13  Dep_hour         10683 non-null  int64
 14  Dep_min          10683 non-null  int64
dtypes: int64(8), object(7)
memory usage: 1.2+ MB

In [35]:
df.drop('Dep_Time',inplace=True,axis=1)

In [37]:
df.sample(5)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
5291,Jet Airways,Delhi,Cochin,DEL → JAI → BOM → COK,13h 30m,2 stops,In-flight meal not included,13029,27,5,2019,19,0,5,30
6870,Vistara,Kolkata,Banglore,CCU → DEL → BLR,24h 5m,1 stop,No info,11105,24,3,2019,20,25,20,20
8540,IndiGo,Kolkata,Banglore,CCU → BLR,2h 45m,non-stop,No info,4778,1,3,2019,0,55,22,10
3728,Jet Airways,Delhi,Cochin,DEL → JAI → BOM → COK,26h 55m,2 stops,In-flight meal not included,10368,15,6,2019,12,35,9,40
9259,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,18h 10m,1 stop,No info,14815,6,3,2019,8,15,14,5

In [38]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [39]:
df['Total_Stops']=df['Total_Stops'].map({'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3, np.nan:1, '4 stops':4})

In [40]:
df['Total_Stops'].unique()

array([0, 2, 1, 3, 4])

In [43]:
df[df['Total_Stops'].isna()]

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_hour, Arrival_min, Dep_hour, Dep_min]
Index: []

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10683 non-null  int64
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   Date             10683 non-null  int64
 9   Month            10683 non-null  int64
 10  Year             10683 non-null  int64
 11  Arrival_hour     10683 non-null  int64
 12  Arrival_min      10683 non-null  int64
 13  Dep_hour         10683 non-null  int64
 14  Dep_min          10683 non-null  int64
dtypes: int64(9), object(6)
memory usage: 1.2+ MB

In [45]:
df.drop('Route',inplace=True,axis=1)

In [46]:
df['Duration_hrs']=df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [47]:
df['Duration_mins']=df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [49]:
df.sample(5)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_hrs,Duration_mins
2186,Air Asia,Delhi,Cochin,5h 40m,1,No info,11410,1,6,2019,22,25,16,45,5,40
4265,Jet Airways,Kolkata,Banglore,7h 5m,1,No info,14781,12,5,2019,23,35,16,30,7,5
5063,IndiGo,Delhi,Cochin,13h 45m,2,No info,9413,3,3,2019,21,20,7,35,13,45
549,Air India,Kolkata,Banglore,13h 25m,1,No info,11096,21,5,2019,20,25,7,0,13,25
648,IndiGo,Mumbai,Hyderabad,1h 30m,0,No info,4049,21,6,2019,7,55,6,25,1,30

In [54]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [55]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [56]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [52]:
from sklearn.preprocessing import OneHotEncoder

In [53]:
encoder=OneHotEncoder()

In [58]:
encoder.fit_transform(df[['Airline','Source','Destination']]).toarray()

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [63]:
encoded_df=pd.DataFrame(encoder.fit_transform(df[['Airline','Source','Destination']]).toarray(),columns=encoder.get_feature_names_out())

In [64]:
df2=pd.concat([df.drop(['Airline','Source','Destination'],axis=1),encoded_df],axis=1)

In [67]:
df2.sample(10)

,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,...,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
1098,9h 50m,1,No info,14781,12,5,2019,18,15,8,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3805,22h 55m,2,No info,13292,24,6,2019,4,25,5,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5944,5h 15m,1,No info,17524,15,3,2019,12,15,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8485,2h 45m,0,No info,5228,12,5,2019,8,55,6,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10565,28h 15m,1,No info,12681,1,4,2019,20,45,16,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6636,2h 50m,0,No info,4077,6,5,2019,2,20,23,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1998,26h 10m,1,No info,12692,9,6,2019,19,10,17,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8991,3h,0,No info,8016,6,6,2019,10,10,7,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9398,11h 50m,1,No info,12402,21,3,2019,18,50,7,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4970,22h 10m,1,No info,14178,9,6,2019,4,40,6,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [68]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 36 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Duration                                   10683 non-null  object
 1   Total_Stops                                10683 non-null  int64
 2   Additional_Info                            10683 non-null  object
 3   Price                                      10683 non-null  int64
 4   Date                                       10683 non-null  int64
 5   Month                                      10683 non-null  int64
 6   Year                                       10683 non-null  int64
 7   Arrival_hour                               10683 non-null  int64
 8   Arrival_min                                10683 non-null  int64
 9   Dep_hour                                   10683 non-null  int64
 10  Dep_min                                    10683 non-null  int64
 11  Duration_hrs                               10683 non-null  object
 12  Duration_mins                              9651 non-null   object
 13  Airline_Air Asia                           10683 non-null  float64
 14  Airline_Air India                          10683 non-null  float64
 15  Airline_GoAir                              10683 non-null  float64
 16  Airline_IndiGo                             10683 non-null  float64
 17  Airline_Jet Airways                        10683 non-null  float64
 18  Airline_Jet Airways Business               10683 non-null  float64
 19  Airline_Multiple carriers                  10683 non-null  float64
 20  Airline_Multiple carriers Premium economy  10683 non-null  float64
 21  Airline_SpiceJet                           10683 non-null  float64
 22  Airline_Trujet                             10683 non-null  float64
 23  Airline_Vistara                            10683 non-null  float64
 24  Airline_Vistara Premium economy            10683 non-null  float64
 25  Source_Banglore                            10683 non-null  float64
 26  Source_Chennai                             10683 non-null  float64
 27  Source_Delhi                               10683 non-null  float64
 28  Source_Kolkata                             10683 non-null  float64
 29  Source_Mumbai                              10683 non-null  float64
 30  Destination_Banglore                       10683 non-null  float64
 31  Destination_Cochin                         10683 non-null  float64
 32  Destination_Delhi                          10683 non-null  float64
 33  Destination_Hyderabad                      10683 non-null  float64
 34  Destination_Kolkata                        10683 non-null  float64
 35  Destination_New Delhi                      10683 non-null  float64
dtypes: float64(23), int64(9), object(4)
memory usage: 2.9+ MB